* {
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: rgba(128, 128, 128, 0.157);
}


.heading {
    font-size: 100px; 
    padding-top: 15px;
    font-weight: lighter;
    color: rgba(150, 45, 45, 0.496);
}

input {
    height: 65px;
    width: 100%; 
    font-size: 25px;
    padding :16px 16px 16px 60px;
    border: none;
    background: 20px 10px 15px #aaaaaa;
    margin-bottom: 2px;
    border-radius: 10px;
    
}

.parent {
    background: white;
    padding: 0px 20px;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
    text-align: initial;
}

.checkbtn {
    width: 30px;
    cursor: pointer;

}

.deletebnt {
    font-size: 25px;
    height: 40px;
    width: 40px;
    margin: 12px;
    color: red;
    background: white;
    border: none;
    cursor: pointer;
}

.toChange {
    word-break: break-word;
    padding : 16px 10px;
    width: 85%;
    outline: none;
}

input::placeholder{
    font-style: italic;
    opacity: 40%;
} 

input:focus{
    outline: none;
}

.check-btn {
    text-decoration: line-through;
}

.deletebtn:hover{
    background: black;
}

.action-bar {
    display: none;
    justify-content: space-evenly;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 9px;
    background: white;
    border-radius: 10px;

}


.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 20%;
}

.all-btn ,.active-btn ,.complete-btn ,.clear-completed {
    cursor: pointer;
    background: none;
    border-radius: 5px;
}

.all-btn:hover ,.active-btn:hover ,.complete-btn:hover ,.clear-completed:hover {
    border-color: red ;
}